html {

	height: 100%;
	padding: 0;
	margin: 0;
	
}

body {

	height: 100%;
	padding: 0;
	margin: 0;

}

main {

	height: 100%;
	padding: 0;
	margin: 0;
	--header-height: 44px;

}

header {

	width: 100%;
	height: calc(var(--header-height) - 2px);
	border-bottom: 2px solid #429ef4;
	background-color: #033f77;
	position: relative;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

header table h1 {

	color: #fff;
	padding: 0;
	margin: 0;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 17px;
	text-indent: 4px;

}

header:before {
	
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 10;
	pointer-events: none;
	background-image: url(../img/email-pattern.png);
	opacity: 0.3;

}

section {
	
	width: 100%;
	height: calc(100% - var(--header-height));
	position: relative;

	--nav-width: 220px;
	--aside-width: 210px;

}

nav {

	width: calc(var(--nav-width) - 1px);
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-right: 1px solid #444;
	overflow-y: scroll;

}

nav li.dirty {

	color: #0b8464;

}

nav li,
aside li {

	list-style: none;
	padding: 8px 0;
	text-indent: 4px;
	border-bottom: 1px dotted #ddd;
	font-family: monospace;
	font-size: 14px;
	letter-spacing: 1px;
	text-indent: 4px;

}

nav li:hover,
aside li:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);


}

nav li.active,
aside li.active {

	font-weight: bold;

}

aside {

	width: calc(var(--aside-width) - 1px);
	height: 100%;
	position: absolute;
	left: var(--nav-width);
	top: 0;
	border-right: 1px solid #444;
	overflow-y: auto;

}

article {

	width: calc(100% - var(--nav-width) - var(--aside-width));
	left: calc(var(--nav-width) + var(--aside-width));
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #eee;
	overflow-y: scroll;

}

page {

	display: block;
	margin: 20px auto;
	max-width: calc(100% - 120px);
	padding: 30px;
	width: 800px;
	border: 1px solid #ccc;
	min-height: 600px;
	background-color: #fff;

}

page h3 {

	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 28px;
	font-weight: 500;
	color: #777;

}

page li {

	list-style: none;
	padding-bottom: 18px;

}

page li table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

page li table td {

	vertical-align: top;
	padding-top: 8px;
	padding-bottom: 8px;

}

page li table th.flags {

	width: 160px;

}

page li table th.preview  {

	width: 240px;

}

page li table label {

	display: block;

}

page li textarea.edit {

	resize: none;
	width: calc(100% - 20px);
	color: #333;
	border: 1px solid #bbb;
	border-radius: 2px;
	font-size: 14px;
	line-height: 24px;
	padding: 5px;
	height: 112px;
	overflow: hidden;
	letter-spacing: 1px;
	font-family: monospace;
	display: block;
	margin: auto;

}

page li textarea.preview {

	background-color: #00043f;
	height: 100$;
	resize: none;
	width: 100%;
	color: #fff;
	border: 2px solid #bbb;
	border-radius: 5px;
	font-size: 14px;
	line-height: 24px;
	padding: 5px;
	height: 112px;
	overflow: hidden;
	letter-spacing: 1px;
	font-family: monospace;
	width: 220px;
	display: block;
	margin: auto;

}

page input[type="text"] {

	width: 40px;

}

textarea {

	width: calc(100% - 22px);
	padding: 10px;
	border: 1px solid #333;
	font-size: 15px;
	line-height: 28px;
	height: 600px;
	color: #2d2d2d;

}

td.expt {
	
	width: 90px;
	color: #fff;
	text-indent: 4px;

}

td.file {

	width: 320px;

}

td.expt:hover {
	
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

page table {
	
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

page table td.right {

	text-align: right;

}
