html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;
	font-family: 'Muli', sans-serif;

	--header-height: 44px;
	--header-color: #017374;
	background-color: #fafafa;
	--nav-width: 260px;
	--aside-width: 280px;
	--tools-height: 44px;
	--texture-width: 300px;
}



div.options {
	
	position: fixed;
	right: 128px;
	top: calc(var(--header-height) + 4px);
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: 4px 12px;
	z-index: 10;
	transform: translateY(0px);
	opacity: 1;
	transition: transform 200ms, opacity 200ms;

}

div.options.hide {

	transform: translateY(20px);
	opacity: 0;
	pointer-events: none;

}

div.options label {

	padding-top: 4px;
	font-size: 12px;
	text-transform: uppercase;
	color: #6a6a6a;
	padding-bottom: 4px;
	border-bottom: 1px solid #e5e5e5;
	display: block;

}

div.options li {

	list-style: none;
	font-size: 14px;
	padding: 4px 0;

}

div.options li i {

	padding-right: 10px;
	color: transparent;

}

div.options li:hover {

	cursor: pointer;

}

div.options li:hover i {

	color: pink;
	opacity: 0.5;

}

div.options li.active i {

	color: pink;
	opacity: 1 !important;

}

main {

	height: 100%;

}

header {

	width: 100%;
	height: var(--header-height);
	background-color: var(--header-color);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: relative;
	z-index: 10;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

header table td.handle input[type="file"] {

	visibility: hidden;

}

header table td.title {

	width: var(--nav-width);

}

header table td.icon {

	width: 144px;	
	color: #fff;
	text-indent: 8px;

}

header table td.icon i {
	
	font-size: 24px;

}

header table td.icon:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

header h1 {

	padding: 0;
	margin: 0;
	font-size: 24px;
	color: #fafafa;
	font-weight: 400;
	text-indent: 10px;
}

section {

	width: 100%;
	height: calc(100% - var(--header-height));
	position: relative;

}

nav {

	width: calc(var(--nav-width) - 1px);
	border-right: 1px solid #e5e5e5;
	left: 0;
	top: 0;
	position: absolute;
	height: 100%;
	overflow-y: auto;

}

nav li.active {

	color: #000;

}

nav li {

	padding-top: 8px;
	padding-bottom: 8px;
	text-indent: 10px;
	list-style: none;
	color: #6a6a6a;

}

nav li:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

aside {

	width: calc(var(--aside-width) - 1px);
	border-right: 1px solid #e5e5e5;
	left: var(--nav-width);
	top: 0;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	background-color: #fff;

}

aside li.active {

	color: #000;

}

aside li {

	padding-top: 8px;
	padding-bottom: 8px;
	text-indent: 10px;
	list-style: none;
	color: #6a6a6a;

}

aside li:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

article {

	position: absolute;
	top: 0;
	left: calc(var(--nav-width) + var(--aside-width));
	width: calc(100% - var(--nav-width) - var(--aside-width) - var(--texture-width));
	height: 100%;

}

article div.viewport {

	width: 100%;
	height: calc(100% - var(--tools-height));
	overflow: hidden;

}

article div.animation {

	width: 100%;
	border-top: 1px solid #e5e5e5;
	height: calc(var(--tools-height) - 1px);
	background-color: #fff;
	font-size: 14px;
	overflow-x: hidden;

}

article div.animation table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

article div.animation table td.label {

	text-indent: 4px;
	width: 90px;

}

article div.animation table td.speed {

	width: 60px;

}

article div.animation table td.icon {

	width: 80px;
	opacity: 0.6;

}

article div.animation table td.icon:hover {

	cursor: pointer;
	opacity: 0.9;

}

article div.animation table td.select {

	width: 190px;

}

article div.animation table td.select select {

	width: 90%;
	border-radius: 4px;
	padding: 4px;
	border: 1px solid #e5e5e5;

}

article div.animation table td.playback {

	width: 120px;

}

article div.animation table td.frames {

	width: 90px;

}

article div.animation table td.frames span {

	width: 30px;
	display: inline-block;
	text-align: center;

}

article div.animation table td.range {

	width: 170px;
	padding-right: 10px;

}

article div.animation table td.range input {

	max-width: 100%;

}

div.notification {

	width: 280px;
	padding: 8px;
	padding-top: 26px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	position: fixed;
	background-color: #fff;
	z-index: 10;
	top: calc(var(--header-height) + 4px);
	transition: transform 200ms, opacity 200ms;
	left: calc(100% - 578px);
	font-size: 14px;
	line-height: 24px;
	transform: translateY(0px);
	opacity: 1;

}

div.notification.hide {

	transform: translateY(20px);
	opacity: 0;
	pointer-events: none;

}

div.notification h5 {

	position: absolute;
	top: 4px;
	left: 8px;
	padding: 0;
	margin: 0;
	font-size: 14px;

}

div.notification a {

	position: absolute;
	top: 4px;
	right: 8px;
	padding: 0;
	margin: 0;
	font-size: 14px;

}

div.notification a:hover {
	
	cursor: pointer;

}

div.notification a i {

	color: #2969bc;

}

div.notification a span {

	color: #3e81d8;

}

div.notification a:hover span {

	text-decoration: underline;

}

div.notification div.out{

	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #e5e5e5;
	position: absolute;
	left: 5px;
	bottom: 100%;
	z-index: 20;

}

div.notification div.in {

	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #fff;
	position: absolute;
	left: 5px;
	bottom: calc(100% - 1px);
	z-index: 21;

}

div.textures {

	position: absolute;
	top: 0;
	right: 0;
	width: calc(var(--texture-width) - 1px);
	border-left: 1px solid #e5e5e5;
	height: 100%;

	--tab-height: 30px;
	--color-height: 110px;

}

div.textures div.tabs {

	height: var(--tab-height);
	width: 100%;
	position: relative;

}

div.textures div.tabs li {

	width: calc(25% - 1px);
	height: calc(100% - 1px);
	top: 0;
	position:absolute;
	border-right: 1px solid #e5e5e5;
	line-height: var(--tab-height);
	list-style: none;
	font-size: 14px;
	text-indent: 4px;
	background-color: rgba(0,0,0,0.1);
	border-bottom: 1px solid #e5e5e5;

}

div.textures div.tabs li:hover {

	cursor: pointer;

}

div.textures div.tabs li.active {

	background-color: transparent;
	border-bottom: none;
	height: 100%;

}

div.textures div.tabs li.disabled {

	pointer-events: none;
	opacity: 0.2;

}

div.textures div.tabs li:first-child {

	left: 0;

}

div.textures div.tabs li:nth-child(2) {

	left: 25%;

}

div.textures div.tabs li:nth-child(3) {

	left: 50%;

}

div.textures div.tabs li:nth-child(4) {

	left: 75%;
	border-right: none;
	width: 25%;

}

div.textures div.color-edit {

	height: calc(var(--color-height) - 1px);
	border-bottom: 1px solid #e5e5e5;

}

div.textures div.color-edit table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

div.textures div.color-edit table td.label {

	width: 20px;
	text-align: center;
	font-weight: bold;

}

div.textures div.color-edit table td.preview {

	width: 80px;

}

div.textures div.color-edit table div.preview {

	width: 70px;
	height: 70px;
	display: block;
	margin: auto;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.1);

}

div.textures div.pallet-edit {

	width: 100%;
	height: calc(100% - var(--tab-height));
	overflow-y: auto;

}

div.textures div.pallet-edit div.content {

	min-height: 20px;
	display: none;

}

div.textures div.pallet-edit div.content.open {

	display: block;

}

div.textures div.pallet-edit div.content canvas {

	display: block;
	margin: auto;
	border: 1px solid #e5e5e5;

}

div.textures div.pallet-edit div.content pre {

	width: calc(100% - 20px);
	padding: 5px;
	display: block;
	margin: auto;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	font-family: monospace;
	letter-spacing: 1px;

}

div.textures div.pallet-edit div.content pre span {

	color: red;

}
