<meta charset="utf-8"/>
<script type="text/javascript" src="FileSaver.js"></script>
<input type="file" id="input"/>
<canvas width="256" height="512" id="canvas" style="border: 1px solid #333"></canvas>
<!-- <script type="text/javascript" src="decode.js"></script> -->
<script type="text/javascript" src="encode.js"></script>

