html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;
	font-family: 'Muli', sans-serif;

	--header-height: 44px;
	--header-color: #5662bf;
	background-color: #fafafa;
	--nav-width: 190px;
	--aside-width: 220px;
	--tools-height: 44px;
	--pallet-width: 398px;

}

div.options {
	
	position: fixed;
	right: 128px;
	top: calc(var(--header-height) + 4px);
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: 4px 12px;
	z-index: 10;
	transform: translateY(0px);
	opacity: 1;
	transition: transform 200ms, opacity 200ms;

}

div.options.hide {

	transform: translateY(20px);
	opacity: 0;
	pointer-events: none;

}

div.options label {

	padding-top: 4px;
	font-size: 12px;
	text-transform: uppercase;
	color: #6a6a6a;
	padding-bottom: 4px;
	border-bottom: 1px solid #e5e5e5;
	display: block;

}

div.options li {

	list-style: none;
	font-size: 14px;
	padding: 4px 0;

}

div.options li i {

	padding-right: 10px;
	color: transparent;

}

div.options li:hover {

	cursor: pointer;

}

div.options li:hover i {

	color: pink;
	opacity: 0.5;

}

div.options li.active i {

	color: pink;
	opacity: 1 !important;

}

main {

	height: 100%;

}

header {

	width: 100%;
	height: var(--header-height);
	background-color: var(--header-color);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: relative;
	z-index: 10;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

header table td.handle input[type="file"] {

	visibility: hidden;

}

header table td.title {

	width: 400px;

}

header table td.icon {

	width: 144px;	
	color: #fff;
	text-indent: 8px;

}

header table td.icon i {
	
	font-size: 24px;

}

header table td.icon:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

header h1 {

	padding: 0;
	margin: 0;
	font-size: 24px;
	color: #fafafa;
	font-weight: 400;
	text-indent: 10px;
}

section {

	width: 100%;
	height: calc(100% - var(--header-height));
	position: relative;

}

nav {

	width: calc(var(--nav-width) - 1px);
	border-right: 1px solid #e5e5e5;
	left: 0;
	top: 0;
	position: absolute;
	height: 100%;
	overflow-y: auto;

}

nav li.active {

	color: #000;

}

nav li {

	padding-top: 8px;
	padding-bottom: 8px;
	text-indent: 10px;
	list-style: none;
	color: #6a6a6a;

}

nav li.active {

	font-weight: bold;

}

nav li:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

aside {

	width: calc(var(--aside-width) - 1px);
	border-right: 1px solid #e5e5e5;
	left: var(--nav-width);
	top: 0;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	background-color: #fff;

}

aside li.active {

	color: #000;

}

aside li {

	padding-top: 8px;
	padding-bottom: 8px;
	text-indent: 10px;
	list-style: none;
	color: #6a6a6a;

}

aside li:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

article {

	position: absolute;
	top: 0;
	left: calc(var(--nav-width) + var(--aside-width));
	width: calc(100% - var(--nav-width) - var(--aside-width) - var(--pallet-width));
	height: 100%;
	overflow: hidden;

}

article table {
	
	table-layout: fixed;
	border-collapse: collapse;

}

article table td {

	width: 80px;
	padding: 8px 0;
	text-align: center;

}


article div.viewport {

	width: 100%;
	height: calc(100% - var(--tools-height));
	overflow: hidden;

}

article div.animation {

	width: 100%;
	border-top: 1px solid #e5e5e5;
	height: calc(var(--tools-height) - 1px);
	background-color: #fff;
	font-size: 14px;
	overflow-x: hidden;

}

article div.animation table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

article div.animation table td.label {

	text-indent: 4px;
	width: 90px;

}

article div.animation table td.speed {

	width: 60px;

}

article div.animation table td.icon {

	width: 80px;
	opacity: 0.6;

}

article div.animation table td.icon:hover {

	cursor: pointer;
	opacity: 0.9;

}

article div.animation table td.select {

	width: 190px;

}

div.pallet {

	width: calc(var(--pallet-width) - 1px);
	border-left: 1px solid #e5e5e5;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #f2f2f2;
	height: 100%;
	overflow-y: auto;

}

div.pallet div.group {

	width: calc(100% - 10px);
	border-bottom: 1px solid #e5e5e5;
	display: block;
	margin: auto;

}

div.pallet div.group table {

	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;

}

div.pallet div.group table tr td {

	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 14px;
	text-indent: 4px;

}

div.pallet div.group table.pallet {

	margin-bottom: 4px;

}

div.pallet div.group table.pallet tr td:nth-child(1) {

	width: 60px;

}

div.pallet div.group table.debug tr td:nth-child(1) {

	width: 90px;

}

div.pallet div.group table.debug tr td:nth-child(2),
div.pallet div.group table.debug tr td:nth-child(3) {

	width: 64px;

}

div.pallet div.group canvas {

	display: block;
	margin: 10px auto;
	border: 1px solid #e5e5e5;

}

div.pallet div.group select {

	width: 90%;
	display: block;
	margin: auto;
	padding-top: 4px;
	padding-bottom: 4px;

}
