html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;

	--folder-width: 140px;
	--tray-width: 190px;
	font-family: 'Muli', sans-serif;
	--tool-height: 34px;

}

main {

	height: 100%;

}

header {

	height: 44px;
	background-color: #1A237E;
	border-bottom: 2px solid #8C9EFF;

}

h1 {

	font-size: 16px;
	color: #fff;
	text-indent: 8px;
	font-weight: 400;

}

section {

	height: calc(100% - 46px);
	background-color: #1c3f56;
	display: none;
	overflow-y: hidden;
	position: relative;

}

table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	color: #fff;

}

table td.title {

	width: 200px;

}

table td.label {
	
	width: 130px;
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;

}

table td.file {

	color: #fff;
	width: 210px;

}

table td.pill {

	color: #fff;
	width: 120px;

}

table td.link {

	color: #fff;
	width: 110px;
	text-indent: 10px;

}

table td.link:hover {

	cursor: pointer;
	background-color: rgba(255,255,255,0.1);

}

table td.link a {

	text-decoration: none;
	color: #fff;

}

canvas {

	display: block;
	margin: auto;

}

section.active {

	display: block;

}

div.folder {

	width: calc(var(--folder-width) - 1px);
	position: absolute;
	left: 0;
	top: 0;
	border-right : 1px solid #444;
	height: 100%;
	background-color: #ccd3e0;
	position: relative;
	background-image: url(../img/playstation-pattern.png);

}

div.folder label {

	text-transform: uppercase;
	padding-top: 10px;
	text-indent: 8px;
	display: block;
	color: #414244;
	font-weight: bold;
	font-family: monospace;
	letter-spacing: 4px;
	font-size: 12px;

}

div.folder ul {

	padding: 20px 0;
	margin: 0;

}

div.tray {

	overflow-y: auto;
	width: calc(var(--tray-width) - 1px);
	position: absolute;
	left: var(--folder-width);
	top: 0;
	border-right: 1px solid #444;
	height: 100%;
	background-color: #f2f2f2;

}

div.folder ul li {
	
	font-size: 15px;
	list-style: none;
	width: calc(100% - 6px);
	text-indent: 8px;
	padding: 4px 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-bottom: 2px;

}

div.folder ul li:hover {

	cursor: pointer;
	background-color: rgba(0, 121, 107, 0.5);

}

div.folder ul li.active {

	background-color: rgba(0, 121, 107, 0.9) !important;
	color: #fff;

}

div.tray ul {

	padding: 0;
	margin: 0;

}

div.tray li {

	list-style: none;
	border-bottom: 1px dashed #d5d5d5;
	padding: 9px 0;
	text-indent: 8px;
	position: relative;

}

div.tray li.active {

	font-weight: bold;

}

div.tray li:hover {

	cursor: pointer;
	background-color: rgba(148, 183, 209, 0.2);

}

div.folder li:after {

	content: attr(data-count);
	position: absolute;
	right: 18px;

}

div.viewport {

	position: absolute;
	top: 0;
	right: 0;
	height: calc(100% - var(--tool-height));
	width: calc(100% - var(--folder-width) - var(--tray-width));

}

div.bottom {

	width: 100%;
	position: absolute;
	left: 4px;
	bottom: 8px;

}

div.anims {

	background-color: #f2f2f2;
	border-top: #ccc;
	height: calc(var(--tool-height) - 1px);
	width: calc(100% - var(--folder-width) - var(--tray-width));
	position: absolute;
	right: 0;
	bottom: 0;

}	

div.anims table{

	color: #5a5a5a;

}

div.bottom li {

	margin-top: 10px;
	padding-left: 4px;
	width: calc(100% - 12px);
	border-radius: 4px;

}

div.bottom li:hover {

	cursor: pointer;
	background-color: rgba(22, 131, 119, 0.3);

}
