html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "MS Sans Serif", "Microsoft MS Sans Serif";
}

main {

	padding: 0;
	margin: 0;
	height: 100%;
	--header-height: 28px;
	--file-width: 240px;

}

header {

	width: 100%;
	height: var(--header-height);
	background-color: #eee;

}

section {

	height: calc(100% - var(--header-height));
	padding: 0 4px;
	width: calc(100% - 8px);
	background-color: #eee;

}

section div.outline {

	border-top: 1px solid #9a9a9a;
	height: calc(100% - 1px);
	position: relative;

}

section div.outline article.file-select {

	width: calc(var(--file-width) - 1px);
	margin-top: 10px;
	height: calc(100% - 20px);
	border-right: 1px solid #bababa;
	padding-top: 10px;
}

section div.outline article.file-select div.white {

	width: calc(100% - 22px);
	height: calc(100% - 12px);
	margin: auto;
	border: 1px dashed #9a9a9a;
	border-radius: 4px;
	background-color: #fff;

}
