html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;

}

main {

	padding: 0;
	margin: 0;
	height: 100%;

}

header {

	width: 100%;
	height: 42px;
	background-color: #546e7a;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

h1 {

	color: #fff;
	font-size: 16px;
	text-indent: 8px;

}

section {

	width: 100%;
	height: calc(100% - 42px);
	position: relative;

}

nav {

	width: 269px;
	overflow-y: scroll;
	border-right: 1px solid #1e1e1e;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;

}

article {

	width: calc(100% - 270px);
	overflow-y: auto;
	background-color: #eeeeee;
	left: 270px;
	top: 0;
	height: 100%;
	position: absolute;

}

page {

	width: 620px;
	padding: 40px;
	min-height: 400px;
	display: block;
	margin: 20px auto;
	background-color: #fff;

}

page div.thead {
	
	border: 1px solid #1e1e1e;
	width: calc(100% - 2px);
	background-color: #f2f2f2;
	color: #7a7a7a;
	font-size: 14px;
	font-family: monospace;
	margin-bottom: 8px;

}

page table {

	width: 100%;
	table-layout: fixed;
	border-collpase: collapse;

}

td.row {

	width: 60px;

}

td.ascii {

	width: 160px;
	letter-spacing: 1px;

}

td {

	position: relative;

}

td textarea {

	padding: 0;
	margin: 0;
	position: absolute;
	left: 2px;
	top: 0;
	min-height: 120px;
	font-family: monospace;
	font-size: 14px;
	width: 100%;
	resize: none;
	border: none;
	overflow-y: hidden;
	background-color: transparent;


}

td textarea.high {
	
	color: #f00;
	z-index :1;

}

td textarea.read {
	
	letter-spacing: 1px;
	word-break: break-all;
	width: 146px;

}

td textarea.write {
	
	letter-spacing: 1px;
	color: red;
	word-break: break-all;
	width: 146px;

}

nav li {

    list-style: none;
    padding: 8px 0;
    text-indent: 4px;
    border-bottom: 1px dotted #ddd;
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 1px;

}

nav li.active {

	font-weight: bold;

}

nav li:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.05);

}
